<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/javascripts/jquery-3.0.0.js"></script>
</head>

<body>
    <h2>这里是查询所有产品</h2>
    <div><%= message%></div>
    <div>
        <% for(var item of data){ %>
        <div>
            产品名称:<%= item.pname %>---价格:<%= item.pprice%>
            ---
            <span><%= item.pcount %></span>
            <input type="button" onclick="updatecount('<%= item.pid %>',this)" value="+">
            <input type="button" onclick="remove('<%= item.pid %>',this)" value="X">
        </div>
        <%}%>
    </div>
    <script >
        function updatecount(pid, dom) {
            console.log();
            let pcount = parseInt($(dom).prev().html());
            //修改功能：让库存添加1：
            $.ajax({
                url: `http://localhost:3000/product/updatecount/${pid}/${++pcount}`,
                type: "get",
                dataType: "json",
                success: (data) => {
                    console.log(data);
                    //修改span的内容：
                    console.log(dom);
                    $(dom).prev().html(pcount);
                },
                error: (err) => {
                    console.log(err);
                }
            })
        }

        function remove(pid, dom) {
            $.ajax({
                url: `http://localhost:3000/product/remove/${pid}`,
                type: "get",
                dataType: "json"
            }).then((data) => {
                alert("产出成功");
                $(dom).parent().remove();
            }).catch(err => {
                alert("删除失败");
            })
        }
    </script>
</body>
</html>